<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>图书管理</title>

  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                  <a href="/addbook/">添加书籍</a>
                <table class="table table-hover table-striped small">
                   <table class="table table-bordered">
                        <tr>
                            <td>名称</td>
                            <td>价格</td>
                            <td>出版社</td>
                            <td>出版时间</td>
                            <td>操作</td>
                        </tr>
                            {% for i in ret %}
                        <tr>
                            <td>{{ i.title }}</td>
                            <td>{{ i.price }}</td>
                            <td>{{ i.publish }}</td>
                            <td>{{ i.pub_date|date:"Y-m-d" }}</td>
                             <td><a href="/change/{{ i.nid }}">编辑</a>
                                 <a href="/delete/{{ i.nid }}">删除</a>
                             </td>
                       </tr>
                            {% endfor %}
                   </table>
                 </div>
              <div class="col-md-3"></div>
          </div>
      </div>










  </body>
</html>